.questionPage__container {
  padding: 20px 0;
}

.questionPage__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;

  margin-bottom: 100px;

  font-size: 40px;
  color: #fff;
}

.questionPage__skipButton {
  display: block;

  margin: 0 auto;
  padding: 10px 15px;

  font-size: 40px;

  background-color: var(--red-primary);

  transition: all 400ms;
}

.questionPage__button:hover,
.questionPage__button_small:hover,
.questionPage__item:hover,
.questionPage__skipButton:hover {
  cursor: pointer;

  transform: scale(1.2);
}

.questionPage__button:active,
.questionPage__button_small:active,
.questionPage__item:active,
.questionPage__skipButton:active {
  transform: scale(1);
}