.questionPage__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: calc(var(--content-height) - 9rem);
}

.questionPage__wrapper_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin: auto 0;
}

.questionPage__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 3rem;
  justify-content: center;

  margin: 0;
  padding: 0 1rem;

  font-size: 2.5rem;
  color: #fff;
}

.questionPage__item {
  padding: 0;
  padding-left: 0.5rem;
}

.questionPage__skipButton {
  display: block;

  margin: 0 auto;

  font-size: 2.5rem;

  background-color: var(--red-primary);

  transition: all 400ms;
}

.questionPage__button:hover,
.questionPage__button_small:hover,
.questionPage__item:hover,
.questionPage__skipButton:hover {
  cursor: pointer;

  transform: scale(1.2);
}

.questionPage__button:active,
.questionPage__button_small:active,
.questionPage__item:active,
.questionPage__skipButton:active {
  transform: scale(1);
}

@media (max-width: 768px) {
  .questionPage__list {
    margin: 2rem 0;
  }
}