.questionPage__item {
  position: relative;

  color: #fff;

  background-color: transparent;
  border: none;

  transition: all 400ms;
}

.normal {
  color: rgb(255 255 255 / 33%);
}

.right {
  position: relative;

  color: var(--green-primary);
}

.wrong {
  position: relative;

  color: var(--red-primary);
}

.right::before,
.wrong::before {
  content: "";

  position: absolute;
  top: 17px;
  left: -20px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  font-size: 13px;
  font-weight: bold;
  color: white;

  border-radius: 50%;
}

.right::before {
  content: "✓";

  background-color: var(--green-primary);
}

.wrong::before {
  content: "✖";

  background-color: var(--red-primary);
}