.questionPage__headerContainer {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.questionPage__counter {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 7rem;
  height: 7rem;

  font-size: 2rem;
  color: #fff;

  background-color: rgb(0 0 0 / 33%);
  border: 0.4rem solid #fff;
  border-radius: 50%;
}

.questionPage__closeButton {
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;

  font-size: 3rem;
  color: rgb(185 185 185);

  background-color: transparent;
  border: none;

  transition: all 400ms;
}

.questionPage__closeButton:hover {
  transform: scale(1.2);
}

.questionPage__closeButton:active {
  transform: scale(1);
}