.result {
  position: relative;

  padding: 20px 0;
}

.closeButton {
  cursor: pointer;

  position: absolute;
  right: 0;

  display: block;

  width: 30px;
  height: 30px;

  font-size: 2em;
  color: rgb(185 185 185);

  background-color: transparent;
  border: none;

  transition: all 400ms;
}

.closeButton:hover {
  transform: scale(1.2);
}

.closeButton:active {
  transform: scale(1);
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;

  background-color: #fff;
  border-radius: 10px;
}

.title {
  margin: 0;
  padding: 0;

  font-size: 40px;
  line-height: 48px;
  color: #000;
  text-align: center;
}