.questionPage__headerContainer {
  display: flex;
  justify-content: space-between;
}

.questionPage__counter {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;

  font-family: Inter, sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #fff;

  background-color: rgb(0 0 0 / 33%);
  border: 5px solid #fff;
  border-radius: 50%;
}

.questionPage__closeButton {
  position: relative;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border: none;

  transition: color 400ms;
}

.questionPage__closeButton::after {
  content: "+";

  position: absolute;
  bottom: -22px;
  left: -6px;
  transform: rotate(45deg);

  font-size: 70px;
  color: #fff;
}

.questionPage__closeButton:hover::after {
  color: #f00;
}