.game-container {
  position: relative;
}

.game_wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 35rem;
  margin: 0 auto;
  padding: 2rem;

  text-align: center;

  background: white;
  border-radius: 0.3rem;
}

.right {
  outline: 0.3rem solid var(--green-primary);
}

.wrong {
  outline: 0.3rem solid var(--red-primary);
}

.points {
  position: absolute;
  top: 2rem;
  left: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 3rem;
  height: 3rem;

  font-size: 1.2rem;

  border-radius: 50%;
}

.green_points {
  color: var(--green-primary);

  border: 1px solid var(--green-primary);
}

.orange_points {
  color: #da991b;

  border: 1px solid #da991b;
}

.red_points {
  color: var(--red-primary);

  border: 1px solid var(--red-primary);
}

.purple_points {
  color: #6e3ebc;

  border: 1px solid #6e3ebc;
}

.english_word {
  margin: 0;
  margin-bottom: 0.5rem;

  font-size: 2.5rem;
}

.russian_word {
  margin: 0;
  margin-bottom: 2rem;

  font-size: 1.5rem;
}

.buttons_wrapper {
  display: flex;
  justify-content: space-around;
}

.checkboxes {
  display: flex;
  gap: 1rem;
}

.check {
  width: 1.3rem;
  height: 1.3rem;

  color: white;

  border: 1px solid #ddd;
  border-radius: 50%;
}

.check_active {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.7rem;
  font-weight: bold;

  background-color: var(--green-primary);
}

.picture {
  margin: 2rem 0;
}

.line {
  width: 100%;
  height: 1px;
  margin-bottom: 1rem;

  background-color: black;
}

.game_buttons_wrapper {
  display: flex;
  justify-content: space-around;

  width: 100%;
}

.true {
  background: var(--green-primary);
}

.false {
  background: var(--red-primary);
}

.total {
  margin: 0 0 1.5rem;

  font-size: 4rem;
  color: #fff;
  text-align: center;
}

.timer {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 5rem;
  height: 5rem;

  font-size: 2rem;
  color: #fff;

  border: 0.3rem solid #fff;
  border-radius: 50%;
}