.word-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 22rem;

  font-size: 1.2rem;

  background-color: #fff;
  border-radius: 0.3rem;
}

.img {
  width: 100%;
  height: 18rem;
}

.word-card__inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  padding: 1rem;
}

.word-name__wrapper {
  display: flex;
  align-items: center;
}

.word-name b {
  margin-left: 0.2rem;

  color: var(--green-primary);
}

.translate {
  color: #00000073;
}

.word-name__wrapper,
.word-meaning,
.word-example {
  margin: 0 0 0.8rem;
}

.statuses-word {
  display: flex;
}

.status-word {
  width: 100%;
  height: 0.5rem;
}

.hard {
  background-color: var(--red-primary);
}

.learned {
  background-color: var(--green-primary);
}