.word-card {
  overflow: hidden;
  display: flex;

  min-height: 200px;
  margin-bottom: 50px;

  font-size: 24px;

  background-color: #fff;
  border-radius: 10px;
}

.img {
  width: 250px;
}

.word-card__inner {
  padding: 20px;
}

.word-name__wrapper {
  display: flex;
  align-items: center;
}

.word-name b {
  margin-left: 10px;

  color: var(--green-primary);
}

.translate {
  color: #00000073;
}

.word-name__wrapper,
.word-meaning,
.word-example {
  margin: 0 0 15px;
}

.statuses-word {
  display: flex;

  margin-left: auto;
}

.status-word {
  width: 10px;
}

.hard {
  background-color: var(--red-primary);
}

.learned {
  background-color: var(--green-primary);
}

@media (max-width: 1424px) {

  .word-card {
    height: 740px;
    width: 460px;
    flex-direction: column;
  }

  .img {
    width: 460px;
    height: 400px;
  }
  
}

@media (max-width: 768px) {
  
  .word-card:nth-child(odd) {
    margin-right: 0;
  }
  
}