.title {
  display: flex;
  justify-content: center;

  margin: 30px auto;

  font-size: 60px;
  line-height: 73px;
  color: #000;
}

.cards {
  display: flex;
  gap: 100px;
  justify-content: center;

  margin-bottom: 30px;
}

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 300px;

  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}

.card__content {
  padding: 1em;

  text-align: center;
}

.name {
  margin-top: 10px;
  margin-bottom: 6px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.position {
  display: inline;

  margin-top: 6px;
  margin-bottom: 8px;

  font-size: 24px;
  font-weight: 400;
  line-height: 29px;

  border-bottom: 1px black solid;
}

.description {
  font-size: 1.2em;
}

@media (max-width: 1130px) {
  .cards {
    gap: 50px;

    margin-bottom: 150px;
  }
}

@media (max-width: 830px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}