.nav-menu {
  cursor: initial;

  overflow-x: hidden;
  overflow-y: auto;

  width: 300px;
  height: 100vh;

  background-color: #fff;
  box-shadow: 5px 0 10px rgb(0 0 0 / 25%);

  animation-name: animation;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes animation {
  from { transform: translateX(-350px); }
  to { transform: translateX(0); }
}

.nav-menu__header {
  height: var(--header-height);

  background-color: rgb(0 0 0 / 18%);
}

.nav-menu__links {
  padding-left: 0.5em;

  font-size: 2em;
}

.nav-menu__link {
  margin-bottom: 0.5em;
  padding: 5px 10px;

  border-radius: 10px 0 0 10px;

  transition: transform 200ms;
}

.nav-menu__link a {
  display: block;
}

.nav-menu__link:hover {
  transform: translateX(20px);

  color: white;

  background-color: #1f5ba7;
}

.shadow {
  cursor: pointer;

  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--app-shadow-color);
}