.logout__container {
  padding: 2rem 3rem;

  background-color: #fff;
  border-radius: 0.5rem;
}

.logout__title {
  margin: 0;
  margin-bottom: 3rem;

  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 500px) {
  .logout__container {
    padding: 2rem;
  }
}