.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background: #241D30;
}

.student {
  font-size: 36px;
  line-height: 44px;
  text-decoration: none;
  color: #FFFFFF;
}

.student:nth-child(2) {
  margin-left: 51px;
  margin-right: 50px;
}

.year {
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}