.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--footer-height);
  padding-top: 0;
  padding-bottom: 0;

  font-size: 1.2rem;

  background: #241d30;
}

.rs_logo_container {
  width: 5rem;
  height: auto;
}

.students {
  display: flex;
  gap: 1rem 3rem;
}

.student {
  color: #fff;
  text-decoration: none;
}

.creation_year {
  color: #fff;
}

@media (max-width: 1000px) {
  .students {
    gap: 1rem;
  }
}

@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    gap: 1rem;

    height: inherit;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .students {
    flex-wrap: wrap;
    justify-content: center;
  }
}
