.questionPage__container {
  padding: 20px;
}

.questionPage__button,
.questionPage__button_small {
  display: flex;

  background-color: rgb(0 0 0 / 33%);
  background-image: url("../../../assets/logo/volume.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  border-radius: 50%;

  transition: all 400ms;
}

.questionPage__button {
  width: 200px;
  height: 200px;
  margin: 170px auto;
}

.questionPage__list {
  display: flex;
  gap: 70px;
  justify-content: center;

  margin-bottom: 170px;

  font-family: Inter, sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
}

.questionPage__skipButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 294px;
  height: 80px;
  margin: 0 auto;

  font-family: Inter, sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #fff;

  background-color: rgb(179 31 67 / 55%);
  border: 1px solid #fff;

  transition: all 400ms;
}

.questionPage__button:hover,
.questionPage__button_small:hover,
.questionPage__item:hover,
.questionPage__skipButton:hover {
  cursor: pointer;

  transform: scale(1.2);
}

.questionPage__button:active,
.questionPage__button_small:active,
.questionPage__item:active,
.questionPage__skipButton:active {
  transform: scale(1);
}