.author {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;

  background-color: #ededed;
}

.author__form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 656px;
  margin: 85px 0;
  padding: 35px;

  background-color: #fff;
  border-radius: 10px;
}

.author__title {
  margin: 0;
  margin-bottom: 22px;

  font-size: 60px;
  line-height: 73px;
}

.author__label {
  cursor: pointer;

  position: relative;

  display: flex;
  flex-direction: column;

  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 18px;
}

.author__input {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  box-sizing: border-box;
  margin: 15px 0;
  padding: 32.5px 10px;

  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 18px;
  color: #718bae;

  border: 1px solid #a6bcda;
  border-radius: 4px;
}

.err {
  position: absolute;
  bottom: -10px;

  font-size: 18px;
  color: #f00;
}
